@model Ca2.Models.Movie

@{
    ViewBag.Title = "Edit";
}
<div class="page-header">

    <h2>Edit</h2>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="jumbotron2">
        <div class="container center-block">
            <h2>@Model.movieName</h2>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.movieName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.movieName)
                        @Html.ValidationMessageFor(model => model.movieName)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.movieRuntime)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.movieRuntime)
                        @Html.ValidationMessageFor(model => model.movieRuntime)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.movieShortDescription)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.movieShortDescription)
                        @Html.ValidationMessageFor(model => model.movieShortDescription)
                </div>

                <p>
                    <input type="submit" value="Save" />
                </p>

                <div>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">@Html.ActionLink("Movies List", "Index")</button>
                    </div>
                </div>
            </div>
        </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
